h1 WebRTC P2P test with STUN
div
  strong This only work on Google Chrome 23.x

video id="lvideo" src="#" width="240" height="180" style="border:0px solid black" autoplay="autoplay"
video id="rvideo" src="#" width="240" height="180" style="border:0px solid black" autoplay="autoplay"

br
button id="startLocalVideo"  Start Local Video
button id="startRemoteVideo" Start Remote Video
button id="endRemoteVideo"   End Remote Video
